html {
  background: #FAFAFA;
  color: #222;
  font-family: Fira Sans;
  font-size: 20px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  color: #24CAFF;
  text-decoration: none;
  transition: all .1s;
}

a:hover {
  color: #2EBAFF;
}

h1 a,
h1 a:hover {
  color: #222;
}

h1,
h2 {
  font-weight: 300;
}

ul {
  list-style: none;
  padding: 0;
}

header {
  align-items: center;
  background: #EF2D5E;
  color: #FFF;
  display: flex;
  height: 50px;
  padding: 5px 20px;
}

header img {
  margin-right: 20px;
  max-height : 80%;
}

header h1 {
  font-size: 24px;
}

.content {
  padding: 20px;
}

.hero {
  align-items: center;
  background-position: center center;
  background-size: fill;
  flex-direction: column;
  display: flex;
  height: 50%;
  justify-content: center;
}

.hero > * {
  background: rgba(50, 50, 50, 0.8);
  color: #FAFAFA;
  padding: 20px 40px;
}

.hero a {
  border-bottom: 1px solid #FAFAFA;
  color: #FAFAFA;
}

#components {
  display: flex;
  flex-direction: column;
}

.component {
  border-top: 1px solid #DADADA;
  box-shadow: 0 2px 2px #888;
  display: flex;
  margin: 10px 0;
  padding: 15px;
  position: relative;
}

.component__image {
  background-size: cover;
  height: 256px;
  margin-right: 20px;
  width: 256px;
}

.component__infowrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.component__title {
  font-size: 32px;
  margin-bottom: 5px;
  margin-top: 0;
}

.component__description {
  color: #222;
}

.component__metadata {
  color: #222;
  font-size: 16px;
}

.component__metadata span {
  margin-right: 5px;
}

.component__metadata span:not(:last-child):after {
  bottom: 3px;
  content: '.';
  display: inline-block;
  position: relative;
  left: 7px;
}

.component__download {
  font-family: Fira Mono;
}
