<!DOCTYPE html>
<html>
  <head>
    <title>A-Frame Registry</title>
    <meta name="description" content="A curated collection of community A-Frame components."></meta>
    <meta name="og:image" content="https://aframe.io/images/aframe-logo.png"></meta>
    <link rel="icon" sizes="192x192" href="https://aframe.io/images/aframe-logo-192.png"></link>
    <link rel="stylesheet" type="text/css" href="site/css/index.css"></link>
    <link rel="stylesheet" type="text/css" href="site/css/fonts.css"></link>
    <script src="site/js/blazy.min.js"></script>
  </head>
  <body>
    <header>
      <div class="wrapper">
        <img src="site/img/logo.svg" alt="A-Frame Registry Logo">
        <h1>A-FRAME Registry</h1>
        <h2>A curated collection of A-Frame ready-to-use components<br>
        also available from within the <a href="https://github.com/aframevr/aframe-inspector">A-Frame Inspector</a></h2>
      </div>
    </header>

    <div class="toolbar">
      <div class="wrapper">
        <p style="color: #FAFAFA">The Registry is currently being populated. See <a href="https://github.com/aframevr/awesome-aframe">awesome-aframe</a> and the <a href="https://aframe.io/blog/">blog</a> for more components!</p>
        <!--
        <div class="filtertype">
          <img src="site/img/filter.png" alt="filter by type">
          <a href="#">Filter by type</a>
        </div>
        <div class="search">
          <img src="site/img/search.png" alt="search">
          <input type="text" placeholder="Search...">
        </div>
        -->
      </div>
    </div>

    <div class="content">
      <ul id="components">
        {% for componentName in componentNames -%}
          {% set component = components[componentName] %}
          <li class="component">
            <div class="component__image b-lazy" data-src="{{ component.image }}"></div>
            <div class="component__infowrapper">
              <h1 class="component__title">
                <a href="{{ component.npmUrl }}">{{ component.siteName }}</a>
              </h1>

              <div class="component__metadata">
                <span class="component__author">{{ component.authorName }}</span>
                <span class="component__githubcreated">{{ component.githubCreated }}</span>
                <span class="component__license">&copy; {{ component.license }}</span>
                <span class="component__stars">
                <span class="starsymbol">&#9733;</span> {{ component.githubStars }}</span>
              </div>

              <p class="component__description">{{ component.description }}</p>

              <div class="links">
                <a class="component__download" href="{{ component.file }}">
                  <img src="site/img/download.png" alt="download">
                  {{ component.filename }}
                </a>

                <a class="component__download" href="{{ component.githubUrl }}">
                    <img src="site/img/github.png" alt="github">
                  on GitHub
                </a>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>

    <!-- GitHub Corner. -->
    {% include "github-corner.html" %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-80530812-4', 'auto');
      ga('send', 'pageview');

      new window.Blazy();
    </script>
  </body>
</html>
